/*  box sizing fix  */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* general font specs */
body {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #404040
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
  line-height: 1.1;
}

h3 {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1.2;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-weight: 200;
  color: grey;
  line-height: 1.5;
}

a {
  font-size: 0.85rem;
}

/* navigation */
.navigation {
  height: 4rem;
  margin: auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logo span {
  font-weight: 700;
  color: #404040
}

nav span {
  margin-right: 1rem;
}

nav span:last-child {
  margin-right: 0;
}

nav span a:hover {
  color: #3498DB;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .navigation.desktop {
    display: none;
  }

  .navigation.mobile {
    width: 100%;
    display: flex;
    margin: auto 0;
    position: fixed;
    background-color: white;
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/*  banner  */
.banner {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  padding: 2rem 1.5rem;
  display: inline;
}

.banner .content {
  width: 40%;
  margin-left: 1rem;
  margin-right: 4.7rem;
}

.banner h1, .banner h5 {
  margin-bottom: 1.5rem;
}

.banner h5 {
  line-height: 1.5;
  font-weight: 600;
}

.banner .content a {
  display: block;
  text-align: center;
  color: white;
  background-color: #404040;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.banner .content a:hover {
  background-color: grey;
}

@media only screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 760px) {
  .banner {
    width: 100%;
    display: block;
    padding: 0;
    top: 4rem;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .banner .content {
    width: 100%;
    margin: 0 0;
    padding: 2rem 0;
  }

  .banner h1, .banner h5, .banner .content a{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .banner h1 {
    font-size: 1.75rem;
    line-height: 1.25;
  }
}
/*  information  */
.information {
  display: flex;
}

.main {
  width: 60%;
  margin-bottom: 2rem;
}

.main img, .main video {
  width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
}

.main .content{
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main .content p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.main .content a {
  color: #404040;
}

.item-group {
  width: 40%;
  padding: 1rem 0;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
}

.item img {
  width: 35%;
  height: auto;
  display: inline;
}

.item img.mobile {
  display: none;
}

.item .content {
  width: 65%;
  padding: 0 1rem;
}

.content p {
  margin: 0.5rem auto;
}

.content a {
  color: #3498DB;
}

@media only screen and (max-width: 760px) {
  .information .main {
    display: none;
  }

  .item-group {
    width: 100%;
  }

  .item {
    display: block;
  }

  .item img, .item p, .item a, .item .content {
    width: 100%;
  }

  .item img.desktop {
    display: none;
  }

  .item img.mobile {
    display: block;
  }

  .item .content {
    margin: 2rem 0;
  }
}
/*  learning:courses section  */
.learning {
  background-color: lightgrey;
}

.learning h2 {
  text-align: center;
  padding-top: 2rem;
}

.classes {
  margin: auto 4.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.classes.mobile {
  display: none;
}

.classes a {
  width: 31%;
  background-color: white;
  margin-bottom: 2rem;
}

.classes a:hover {
  box-shadow: 2px 2px 5px #888888;
}

.course img {
  width: 100%;
}

.course .content {
  margin: 1rem 1rem;
}

.course .type {
  margin: 0.5rem auto;
}

@media only screen and (max-width: 760px) {
  .learning {
    background-color: white;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
  }

  .classes {
    display: none;
  }

  .classes.mobile {
    width: 100%;
    display: block;
    margin: 0;
  }

  .classes h3 {
    padding: 1rem 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    background-color: lightgrey;
  }
  .classes h3:hover {
    color: white;
    background-color: grey;
  }
}
/*  thesis exhibit section  */
.exhibit h2 {
  text-align: center;
  padding-top: 2rem;
}

.theses {
  display: flex;
}

.exhibit .item-group {
  padding-top: 2rem;
}

.exhibit .item:first-child {
  background-color: lightgrey;
}

.exhibit .main p {
  margin-bottom: 0;
  margin-top: 0.5rem;
}

@media only screen and (max-width: 760px) {
  .exhibit .item-group, .exhibit .content {
    display: none;
  }

  .exhibit .main {
    width: 100%;
    margin-bottom: 0;
  }
}
/*  footer  */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  border-top: 1px solid lightgrey;
}

footer p {
  font-size: 0.75rem;
}

footer a {
  color: grey;
}

@media only screen and (max-width: 760px) {
  footer {
    border-top: none;
  }

  footer nav {
    display: none;
  }
}
