/*  box sizing fix  */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
  color: #404040
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
}

h2 {
  font-size: 1.75rem;
  font-weight: 800;
}

h3 {
  font-size: 1.3rem;
  font-weight: 700;
}

h5 {
  font-size: 1.1rem;
}

p {
  font-weight: 200;
  color: grey;
  line-height: 1.5;
}

a {
  font-size: 0.875rem;
}
/* navigation */
.navigation {
  height: 4rem;
  margin: auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logo span {
  font-weight: 700;
  color: #404040
}

nav span {
  margin-right: 1rem;
}

nav span:last-child {
  margin-right: 0;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: flex;
    margin: auto 0;
    /*position: fixed;*/
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/*  banner  */
.banner {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  height: 60%;
  padding: 2rem 1.5rem;
  display: inline;
}

.banner .content {
  width: 40%;
  margin-left: 1rem;
  margin-right: 4.7rem;
}

.banner h1, .banner h5 {
  margin-bottom: 1.5rem;
}

.banner h5 {
  line-height: 1.5;
  font-weight: 600;
}

.banner .content a {
  display: block;
  text-align: center;
  color: white;
  background-color: #404040;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  .banner h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 760px) {
  .banner {
    width: 100%;
    display: block;
    padding: 0;
  }

  .banner img {
    width: 100%;
    height: auto;
    padding: 0;
  }

  .banner .content {
    width: 100%;
    margin: 0 0;
    padding: 2rem 0;
  }

  .banner h1, .banner h5, .banner .content a{
    margin-right: 1rem;
    margin-left: 1rem;
  }

  .banner h1 {
    font-size: 1.75rem;
    line-height: 1.25;
  }

  .banner .content a {
    background-color: grey;
  }
}
/*  information  */
.information {
  display: flex;
}

.main {
  width: 60%;
  margin-bottom: 2rem;
}

.main img {
  width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
}

.main .content{
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.main .content p {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.main .content a {
  color: #404040;
}

.item-group {
  width: 40%;
  padding: 1rem 1rem;
}

.item {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 1rem 0;
}

.item img {
  width: 35%;
  height: auto;
  display: inline;
}

.item img.mobile {
  display: none;
}

.item .content {
  width: 65%;
  padding: 0 1rem;
}

.content p {
  margin: 0.5rem auto;
}

.content a {
  color: #3498DB;
}

@media only screen and (max-width: 760px) {
  .main {
    display: none;
  }

  .item-group {
    width: 100%;
  }

  .item {
    display: block;
  }

  .item img, .item p, .item a, .item .content {
    width: 100%;
  }

  .item img.desktop {
    display: none;
  }

  .item img.mobile {
    display: block;
  }

  .item .content {
    margin: 2rem 0;
  }
}
