html {
  font-size: 16px;
  font-family: 'Muli', sans-serif;
  font-weight: 400;
}
h2 {
  font-size: 2.5rem;
  font-weight: 800;
}
/* navigation */
.navigation {
  height: 4rem;
  margin: auto 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
}

.logo span {
  font-weight: 700;
  color: black;
}
.logo p {
  font-weight: 200;
  color: grey;
}

nav span {
  font-size: 0.875rem;
  margin-right: 1rem;
}

nav span:last-child {
  margin-right: 0;
}

.mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  .desktop {
    display: none;
  }

  .mobile {
    width: 100%;
    display: flex;
    margin: auto 0;
    /*position: fixed;*/
  }

  nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 2rem;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
}

/*  banner  */
.banner {
  background-color: lightgrey;
  width: 100%;
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  height: 60%;
  padding: 32px 24px;
  display: inline;
}

.banner .content {
  width: 40%;
  padding-left: 1rem;
  padding-right: 4.7rem;
  color: #404040;
}
.banner h2, .banner p {
  margin-bottom: 1.5rem;
}

.banner p {
  line-height: 1.5;
  font-weight: 600;
}

.banner .content a {
  display: block;
  text-align: center;
  color: white;
  background-color: #404040;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

@media only screen and (max-width: 760px) {
  .banner {
    width: 100%;
    display: block;
    padding: 0;
  }

  .banner img {
    width: 100%;
    padding: 0;
  }

  .banner .content {
    width: 100%;
    margin: 0 0;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
  }

  .banner h2, .banner p, .banner .content a{
    margin-right: 1rem;
    margin-left: 1rem;
  }
}
